{% extends "blog/base.html" %}
{% block content %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}" alt="User photo">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
                <small class="text-muted">{{ post.date_posted|date:'Y-F-d' }}</small>
                {% if post.author == user %}
                    <div>
                        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' post.id %}">Редагувати</a>
                        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' post.id %}">Видалити</a>
                    </div>
                {% endif%}
            </div>
            <h2 class="article-title">{{ post.title }}</h2>
            <p class="article-content">{{ post.content }}</p>
        </div>
    </article>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
              {% for photo in images %}
              <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.cointer0 }}" class="{% if forloop.counter0 == 0 %} active {% endif %}"></li>
              {% endfor %}
          </ol>
          <div class="carousel-inner" role="listbox">
              {% for photo in images %}
                <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}">
                  <img class="d-block w-100" src="{{ photo.image.url }}" alt="First slide">
                </div>
              {% endfor %}
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
{% endblock content %}
